<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="CONSOLE_LOG_PATTERN"
        value="%magenta(%r) [%green(%thread)] %highlight(%-5level) %cyan(%logger) - %gray(%msg%n)"/>
    <property name="FILE_LOG_PATTERN"
        value="%r [%thread] %-5level %logger - %msg%n"/>
    <property name="LOG_PATH" value="logs/logback-setting.log"/>
    <property name="JSON_PATH" value="logs/json.txt"/>
    <property name="LOGSTASH_PATH" value="localhost:5200"/>

    <!-- 콘솔 로그 -->
    <appender name="CONSOLE"
        class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 로그 파일 -->
    <appender name="FILE"
        class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- JSON 로그 파일 -->
    <appender name="JSON" class="ch.qos.logback.core.FileAppender">
        <file>${JSON_PATH}</file>
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>
    </appender>

    <!-- Logstash에 전송 -->
    <appender name="LOGSTASH"
        class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_PATH}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger
        name="org.springframework.boot.autoconfigure.logging.AutoConfigurationReportLoggingInitializer"
        level="WARN"/>
    <logger
        name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLogger"
        level="WARN"/>

    <root level="TRACE">
        <appender-ref ref="CONSOLE"/>
<!--        <appender-ref ref="FILE"/>-->
<!--        <appender-ref ref="JSON"/>-->
<!--        <appender-ref ref="LOGSTASH"/>-->
    </root>

</configuration>
